html, body, h1, h2, h3, h4, h5, ul, li, p {
  line-height: 1.334em;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
}

.banner {
  background-color: #0b5394;
  padding: 3%;
  text-align: center;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  line-height: 30px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.menu-button {
  font-size:20px;
  cursor:pointer;
  float: right;
  margin: 20px;
  border-radius: 30px;
  border: 1px solid #ccc;
  color: #ccc;
  padding: 10px;
  line-height: 20px;
}

.menu-button:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.top-logo {
  width: 40px;
  height: 40px;
  margin: 20px;
}

.nav-logo {
  background-color: #073763;
}

.body-text {
  width: 45em;
  margin: 10px auto;
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 1px solid #e5e4e1;
}

.body-text a {
  border-bottom: 2px solid #0b5394;
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 772px) {
  .body-text {
    width: auto;
    margin: 5px;
  }
}

.body-text h1 {
  font-size: 35px;
}

.body-text p {
  font-size: 20px;
}

.body-text li {
    font-size: 20px;
}

.body-text h2 {
  font-size: 2em;
  line-height: 30px;
}

.vote {
    text-align: center;
    background-color: #0b5394;
    padding: 1%;
    color: #ffffff;
}

#grad1 {
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
}
